<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beerus.mapper.NewsMapper">


    <sql id="newsSQL">
        <trim prefixOverrides="or" prefix="and">
            <if test="news != null and news.title != null">
                OR  title LIKE CONCAT('%',#{news.title},'%') OR  account LIKE CONCAT('%',#{news.title},'%')
            </if>
        </trim>
    </sql>


   <select id="listNewsByPager" resultMap="newsMap">
        select n.id,title,release_date,account
        from news_tab n,user_admin_tab u
        where n.create_id = u.id
        <include refid="newsSQL"></include>
        ORDER BY release_date DESC
        LIMIT #{currPageNo},#{pageSize}
   </select>

    <resultMap id="newsMap" type="News">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="release_date" property="releaseDate"/>
       <association property="admin" javaType="UserAdmin">
           <result column="account" property="account"/>
       </association>
    </resultMap>


    <select id="count_Rows" resultType="Integer">
        select COUNT(1)
        from news_tab n,user_admin_tab u
        where n.create_id = u.id
        <include refid="newsSQL"></include>
    </select>


    <select id="getNews" resultType="News">
        SELECT id,content,release_date releaseDate,title,update_date updateDate,browse,create_id createId
        from news_tab
        where id = #{id}
    </select>


    <insert id="saveNews">
        insert into `news_tab`
        values(default,#{content},NOW(),#{title},null,0,1,#{createId});
    </insert>


    <delete id="delNews">
        delete from news_tab where  id = #{id}
    </delete>


    <update id="modifyNews">
        update news_tab
                set content = #{content},
                    title = #{title},
                    update_date = NOW()
        where id = #{id}
    </update>
</mapper>