<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>KAB大学生创业教育网</title>
    <meta name="keywords" content="">
    <meta name="description" content="创业信息资讯 网上开班 大学生创业 KAB大学生">
    <meta charset="UTF-8">
    <link type="text/css" href="http://127.0.0.1:7500/css/base.css" rel="stylesheet">
    <link type="text/css" href="http://127.0.0.1:7500/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://127.0.0.1:7500/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:7500/js/common.js"></script>
    <script type="text/javascript">
        $(function () {//导航
            var navdata = "" || "首页";
            $(".topMain").find("li").each(function () {
                if (navdata == $(this).text()) {
                    $(".topMain").find("li a").removeClass("on");
                    $(this).find('a').addClass("on");

                }
            });
        });
    </script>
    <style>
        .input-btn {
            width: 268px;
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            color: #fff;
            text-align: center;
            background: #6ca62b;
            display: block;
            border: none;
            cursor: pointer;
        }

        /*不可以发送验证码*/
        .btnError {
            border-radius: 20px;
            background: #ccc;
            padding: 5px;
            position: absolute;
            right: 0px;
            top: 1px;
            color: white;
            text-decoration: none;
            cursor: default;
        }

        /*可以发送验证码*/
        .btnOk {
            border-radius: 20px;
            background: #6ca62b;
            padding: 5px;
            position: absolute;
            right: 0px;
            top: 1px;
            color: white;
            text-decoration: none;
            cursor: pointer;
        }

        .btnOk:hover, .btnError:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div id="header">
    <div id="topInfo">
        <span class="white">欢迎来到KAB创业教育网</span>
        <div class="memberBox fr">
            <ul>
                <li><a href="http://127.0.0.1:7070/member/login">[登录]</a></li>
                <li><a href="http://127.0.0.1:7070/member/register">[免费注册]</a></li>
                <li><a href="http://127.0.0.1:7070/public/index">首页</a></li>
            </ul>
        </div>

    </div>


    <div class="navs">
        <div class="navmains">
            <div class="logo fl"><a href="http://kab.project.bdqn.cn/index.php"><img
                    src="http://127.0.0.1:7500/image/logo.gif" alt="logo"></a></div>
            <div class="topMain">
                <ul>
                    <li><a href="http://127.0.0.1:7070/public/index" class="on" style="background-color: #5BAF2F">首页</a></li>
                    <li><a href="http://127.0.0.1:7070/survey/viewSurvey">KAB概况</a></li>
                    <li><a href="http://127.0.0.1:7070/course/course">KAB公告</a></li>
                    <li><a href="http://127.0.0.1:7070/consultation/consultation">创业资讯</a></li>
                    <li><a href="http://127.0.0.1:7070/news/news">新闻展示</a></li>
                    <li><a href="http://127.0.0.1:7070/curriculum/curriculum">KAB课程</a></li>
                    <li><a href="http://127.0.0.1:7070/curriculum/curriculum">个人中心</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear h20"></div>

    <div id="main">
        <div class="  green"><span class="icon-man"></span> &nbsp;找回密码&nbsp;
        </div>
        <div class="h20"></div>
        <section class="article">
            <form action="/member/updatePwd" style="margin: 0 auto;width: 500px;" method="post"
                  name="myform" id="myform">
                <div class="item">
                    <input type="text" class="input-text" name="telePhone" id="phone" placeholder="请输入手机号码">
                    <div id="phoneTip" class="onShow">请输手机号码</div>
                </div>
                <div class="item">
                    <div style="display: inline-block;position: relative">
                        <input type="text" class="input-text" name="code" id="code" placeholder="请输入短信验证码">
                        <a href="javascript:void(0);" class="btnError" id="sendCode">发送验证码</a>
                    </div>
                    <div id="codeTip" class="onShow">短信验证码</div>
                </div>
                <div class="item">
                    <input type="password" class="input-text" name="pwd" id="pwd" placeholder="请输入密码">
                    <div id="pwdTip" class="onShow" maxlength="16">密码</div>

                </div>
                <div class="item">
                    <input type="password" class="input-text" name="rpwd" id="rpwd" placeholder="确认密码">
                    <div id="rpwdTip" class="onShow" maxlength="16">确认密码</div>
                </div>

                <div class="h20"></div>
                <div id="msg"></div>
                <div class="item">
                    <input type="submit" name="dosubmit" class="input-btn" value="提交">
                </div>
            </form>
            <br>
            <span th:text="${success}" style="color: #5baf32;"></span>
        </section>
    </div>
    <div class="h20"></div>

    <script type="text/javascript" src="http://127.0.0.1:7500/js/formvalidator.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:7500/js/formvalidatorregex.js" charset="UTF-8"></script>


    <div id="footer">
        <ul>
            <li><a href="http://127.0.0.1:7070/public/index">首页</a></li>
            <li>|</li>
            <li><a href="http://127.0.0.1:7070/public/about">关于我们</a></li>
            <li>|</li>
            <li><a href="http://127.0.0.1:7070/public/copy">版权声明</a></li>
            <li>|</li>
            <li><a href="http://127.0.0.1:7070/public/recruit">人才招聘</a></li>
            <li>|</li>
            <li><a href="http://127.0.0.1:7070/public/contact">联系我们</a></li>
        </ul>
    </div>
</div>
</body>
<script>
    $(function () {
        // 正则
        var pwdReg = /^(\w){6,20}$/;
        var phoneReg = /^1[3456789]\d{9}$/;

        // 标示变量
        var isSubmit = true;

        // Obj
        var phone = $('[name="telePhone"]');
        var pwd = $('[name="pwd"]');
        var rPWD = $('[name="rpwd"]');
        var code = $('[name="code"]');

        // tip
        var phoneTip = $("#phoneTip");
        var pwdTip = $("#pwdTip");
        var rpwdTip = $("#rpwdTip");
        var codeTip = $("#codeTip");

        // interval
        var interval;

        // 验证手机号码
        phone.blur(checkPhone);

        function checkPhone() {
            if (phone.val().trim().length == 0) {
                phoneTip.text("·手机号码不能为空").css('color', 'red');
                isSubmit = false;
                $("#sendCode").removeClass('btnOk');
                $("#sendCode").addClass('btnError');
            } else if (!phoneReg.test(phone.val().trim())) {
                phoneTip.text("·请输入正确的手机号码").css('color', 'red');
                isSubmit = false;
                $("#sendCode").removeClass('btnOk');
                $("#sendCode").addClass('btnError');
            } else {
                //验证码手机号码唯一
                $.getJSON('/member/checkPhone/', {telePhone: phone.val().trim()}, function (data) {
                    if (data.data == false) {
                        isSubmit = true;
                        phoneTip.text("·该手机号码不存在").css('color', 'red');
                        $("#sendCode").removeClass('btnOk');
                        $("#sendCode").addClass('btnError');
                    } else {
                        phoneTip.text("").css('color', '');
                        $("#sendCode").removeClass('btnError');
                        $("#sendCode").addClass('btnOk');
                        isSubmit = false;
                    }
                });
            }
        }

        // 验证密码
        pwd.blur(checkPwd);

        function checkPwd() {
            if (pwd.val().trim().length == 0) {
                pwdTip.text("·密码不能为空").css('color', 'red');
                isSubmit = false;
            }else if (!pwdReg.test(pwd.val().trim())) {
                pwdTip.text("·请输入密码(6-20个字母、数字、下划线)").css('color', 'red');
                isSubmit = false;
            } else {
                pwdTip.text("").css('color', '');
                isSubmit = true;
            }
        }

        // 验证确认密码
        rPWD.blur(checkRPWD);

        function checkRPWD() {
            if (rPWD.val().trim().length == 0) {
                rpwdTip.text("·确认密码不能为空").css('color', 'red');
                isSubmit = false;
            } else if (!pwdReg.test(rPWD.val().trim())) {
                rpwdTip.text("·请输入密码(6-20个字母、数字、下划线)").css('color', 'red');
                isSubmit = false;
            } else if (rPWD.val().trim() != pwd.val().trim()) {
                rpwdTip.text("两次输入的密码不一致").css('color', 'red');
                isSubmit = false;
            } else {
                rpwdTip.text("").css('color', '');
                isSubmit = true;
            }
        }

        code.blur(checkCode);
        // 验证验证码
        function checkCode() {
            if (phone.val().trim().length > 0) {
                if (code.val().trim().length == 0) {
                    codeTip.text("·请输入验证码").css('color', 'red');
                    isSubmit = false;
                }else{
                    codeTip.text("").css('color', '');
                    isSubmit = true;
                }
            }
        }

        // 发送验证码
        $("#sendCode").click(function () {
            if ($(this).attr('class').indexOf('btnOk') != -1) {
                $.post('/member/sendCode', {telePhone: phone.val().trim(),mark:2}, function (data) {
                    console.log(data);
                });
                var time = 60;
                $("#sendCode").removeClass('btnOk');
                $("#sendCode").addClass('btnError');
                interval = setInterval(function () {
                    time--;
                    $("#sendCode").text('重新发送(' + time + ')');
                    if (time <= 0) {
                        clearInterval(interval);
                        $("#sendCode").removeClass('btnError');
                        $("#sendCode").addClass('btnOk');
                        $("#sendCode").text('重新发送');
                    }
                }, 1000);
            }
        });

        $("form").submit(function () {
            checkPhone();
            checkCode();
            checkPwd();
            checkRPWD();
            return isSubmit;
        });

    })
</script>
</html>