<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beerus.mapper.NewsMapper">
    <select id="listNewsByNine" resultType="News">
        SELECT `id`,`title`,`content`,release_date as releaseDate,browse FROM `news_tab` ORDER BY id DESC LIMIT 0,9
    </select>
    <select id="getNewsById" resultType="News">
        SELECT `id`,`title`,`content`,release_date as releaseDate,browse FROM `news_tab` WHERE id = #{id}
    </select>

    <select id="listNewsByPager" resultType="News">
        SELECT `id`,`title`,`content`,release_date as releaseDate,browse FROM `news_tab` ORDER BY id DESC LIMIT #{currPageNo},#{pageSize}
    </select>

    <select id="count_rows" resultType="Integer">
        SELECT  COUNT(1) FROM `news_tab`
    </select>
</mapper>