<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beerus.mapper.SurveyMapper">

    <select id="getSurvey" resultType="Survey">
        SELECT `content` FROM `survey_tab`
    </select>
</mapper>