<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
  <title>KAB大学生创业教育网</title>
  <meta name="keywords" content="">
  <meta name="description" content="创业信息资讯 网上开班 大学生创业 KAB大学生">
  <meta charset="UTF-8">
  <link type="text/css" href="http://127.0.0.1:7500/css/base.css" rel="stylesheet">
  <link type="text/css" href="http://127.0.0.1:7500/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="http://127.0.0.1:7500/js/jquery.min.js"></script>
  <script type="text/javascript" src="http://127.0.0.1:7500/js/common.js"></script>
  <script type="text/javascript">
    $(function (){//导航
      var navdata = "" || "首页";
      $(".topMain").find("li").each(function(){
        if( navdata  ==  $(this).text()){
          $(".topMain").find("li a").removeClass("on");
          $(this).find('a').addClass("on");

        }
      });
    });
  </script>
</head>
<body>
<div id="header">
  <div id="topInfo">
    <span class="white">欢迎来到KAB创业教育网</span>
    <div class="memberBox fr">
      <ul th:if="${null == member}">
        <li><a href="http://127.0.0.1:7070/member/login">[登录]</a></li>
        <li><a href="http://127.0.0.1:7070/member/r7070egister">[免费注册]</a></li>
        <li><a href="http://127.0.0.1:7070/public/index">首页</a></li>
      </ul>
      <ul th:if="${null != member}">
        <li class="fgreen">
          您好,<span>&nbsp;<b th:text="${member.name == null ?'':member.name}"></b>&nbsp;老师</span>
        </li>
        <li><a href="/member/loginout">[注销]</a></li>
        <li><a href="http://127.0.0.1:7070/public/index">首页</a></li>
      </ul>
    </div>

  </div>


  <div class="navs">
    <div class="navmains">
      <div class="logo fl"><a href="http://127.0.0.1:7070/public/index"><img src="http://127.0.0.1:7500/image/logo.gif" alt="logo"></a></div>
      <div class="topMain">
        <ul>
          <li><a href="http://127.0.0.1:7070/public/index" class="on" style="background-color: #5BAF2F">首页</a></li>
          <li><a href="http://127.0.0.1:7070/survey/viewSurvey">KAB概况</a></li>
          <li><a href="http://127.0.0.1:7070/course/course">KAB公告</a></li>
          <li><a href="http://127.0.0.1:7070/consultation/consultation">创业资讯</a></li>
          <li><a href="http://127.0.0.1:7070/news/news">新闻展示</a></li>
          <li><a href="http://127.0.0.1:7070/curriculum/curriculum">KAB课程</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear h20"></div>

  <div id="main">
    <div class="banner">
      <h3>联系我们</h3>
      <img src="http://127.0.0.1:7500/image/banner.gif" width="1000px" height="200px" alt="banner">
    </div>
    <div class="locaiton green"><a href="http://kab.project.bdqn.cn/">首页</a>&gt;&gt;单页管理&gt;&gt;联系我们</div>
    <div class="h20"></div>
    <div class="leftMenu fl">
      <div class="menuTop"> 单页管理 </div>
      <ul>
        <li><a href="http://127.0.0.1:7000/about">关于我们</a></li>
        <li><a href="http://127.0.0.1:7000/copy">版权声明</a></li>
        <li><a href="http://127.0.0.1:7000/recruit">人才招聘</a></li>
        <li><a href="http://127.0.0.1:7000/contact"  class="on" style="background-color: #3d474a">联系我们</a></li>
      </ul>
    </div>
    <div class="rightContent fl">
      <p>
        <span style="white-space:nowrap;">&nbsp;电话：010-99999999</span>
      </p>
      <p>
        <span style="white-space:nowrap;">&nbsp;email：***@bdqn.cn</span>
      </p>
      <p>
        <span style="white-space:nowrap;">地址：北京海淀区成府路2*号</span>
      </p>
      <p>
        <span style="white-space:nowrap;">乘车路线：4号线北京大学东门站B出口，300米</span>
      </p>
    </div>
  </div>
  <div class="h20"></div>
  <div id="footer">
    <ul>
      <li><a href="http://127.0.0.1:7070/public/index">首页</a></li>
      <li>|</li>
      <li><a href="http://127.0.0.1:7070/public/about">关于我们</a></li>
      <li>|</li>
      <li><a href="http://127.0.0.1:7070/public/copy">版权声明</a></li>
      <li>|</li>
      <li><a href="http://127.0.0.1:7070/public/recruit">人才招聘</a></li>
      <li>|</li>
      <li><a href="http://127.0.0.1:7070/public/contact">联系我们</a></li>
    </ul>
  </div>


</div></body></html>
