<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beerus.mapper.ConsultationMapper">

    <select id="listConsultationByNine" resultType="Consultation">
        SELECT id,title,content,update_date as updateDate,release_date as releaseDate,browse FROM consultation_tab LIMIT 0,9
    </select>
    <select id="getConsultation" resultType="Consultation">
        SELECT id,title,content,update_date as updateDate,release_date as releaseDate,browse  FROM consultation_tab WHERE id = #{id}
    </select>

    <select id="listConsultationByPager" resultType="Consultation">
        SELECT `id`,`title`,`content`,release_date as releaseDate,browse  FROM `consultation_tab` LIMIT #{currPageNo},#{pageSize}
    </select>

    <select id="count_rows" resultType="Integer">
        SELECT  COUNT(1) FROM `consultation_tab`
    </select>
</mapper>
